{% extends 'base.html' %}
{% load static %}
{% block content %}


<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script>
      $(document).ready(function(){
          $('#login_form').submit(function() {
              $('#loaderIcon').css('visibility', 'visible');
              $('#loaderIcon').show();
          });
      })
  </script>
  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    </style>

  
  <img id="loaderIcon" style="visibility:hidden; display:none;width:5%;"
  src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif" class="center"/>
</head>

 


<div class="container">

  <h1 class='text-center'>Lei Gong Ma Person Data Hub</h1>

 
  <center>
    <img src="{% static '\images\logo.jpg' %}">
    <form action="{% url 'view_detail' %}" method="post" id="login_form">
    {% csrf_token %}
    
    <input id="search" name="search" type="text" class="query-search" 
     placeholder="Enter the key word..." size="50">
    <input class="btn btn-primary" type="submit" value="Search">
  
    <br>
    {% if searchValue %}
    <a href="../static/data/{{ searchValue }}_personData.csv">Download data 
    </a>
    {% endif %}
   
    <div class="row" >
      <div class="col-md-10 offset-md-1">
        <ul class="list-group">
          {% comment %} <div class="inline">
            <p class="spinner" id="spinner"><i class="fa fa-spinner fa-5x"></i></p>
          </div> {% endcomment %}
          
          {% for movie in movies %}
          
          
          <li class="list-group-item">
            <p>{{ movie }}</p> 
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    </form>
 
   <br>

  
  
 </center>

</div>

<script>

  function setGetParameter(){
    alert("here");
      var search_word = $("#search").val();
      $.ajax({
        type: "POST",
        url: {% url 'view_detail' %},
        data: search_word,
        success: function(result){
          alert("Success");
        }
      });
  }

  function loading(){
    if(loading==0) {
      spinner.classList.add('active');
    } else if(loading==100){
      clearInterval(id);
      window.open("welcome.html","_self");
      spinner.classList.remove('active');
    } else {
      loading = loading + 1;
      if(loading==90){
        spinner.style.animation ="fadeout 1s ease";
      }
    }
}


</script>


{% endblock %}


  
